project_id                 = "google-project-id-123"
region                     = "europe-west1"
db_timezone                = "Europe/London"
events_pubsub_topic        = "alertmanager-events"

# Alertmanager to Notion integration
am2n_notion_token          = "your-notion-integration-token"
am2n_notion_db_id          = "your-notion-database-id"
am2n_http_header_name      = "X-AM2N-SECRET"
am2n_http_header_value     = "your-secret-value"
